/* ABOUT */

.about {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/michael_joey-cliff.jpg);
    background-size: cover;
    background-position: center bottom;
    color: var(--text-color-light);
    text-align: center;
    padding-bottom: 70px;
}

.about__story {
    display: flex;
    flex-direction: column;
    margin: 50px 30px;
    max-width: 600px;
}

.about__story > * {
    flex: 1;
}

.about__story h1 {
    text-align: center;
    font-size: 3em;
    margin: 0px 0px 50px;
}

.about__story p {
    text-align: left;
    margin: 0px 0px 15px;
}