/* CHECKOUT */

.icon__info {
    font-size: 1.2em;
    cursor: help;
}

.checkout-form__action {
    text-align: center;
    margin-bottom: 70px;
}

.checkout-form {
    display: flex;
    flex-direction: column;
    margin: 30px;
    border: 2px solid var(--text-color-dark);
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
    gap: 20px;
    max-width: 400px; 
    background: var(--header-footer-color);
}

.checkout-form h1 {
    text-align: center;
    font-size: 3em;
    margin: 0px;
}

.payment-cards img {
    width: 10%;
}

.checkout-form__shipping,
.checkout-form__payment {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#city,
#zipcode {
    width: 50%;
}

#exp-date,
#cvc {
    width: 3.5em;
}

.checkout-form h2 {
    text-transform: uppercase;
    font-size: 1.2em;
    margin: 0px;
}

#cvc-checkbox,
.cvc-info {
    display: none;
}

#cvc-checkbox:checked ~ .cvc-info {
display: inline-block;
font-size: 0.8em;
color: #8C0909;
text-transform: uppercase;
}

/* reference: https://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box */

/* Firefox */
input[type=number] {
    -moz-appearance:textfield; 
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input__small {
    display: flex;
    align-items: flex-start;
    gap: 5px;
}

.cvc-info img {
    width: 4em;
}

.cvc-info p {
    margin-bottom: 0px;
    font-weight: bold;
}

