/* HOME PAGE */

.intro {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/intro.jpg);
    min-height: 50vh;
    background-size: cover;
    background-position: center; 
}

.intro h1 {
    color: var(--text-color-light);
    text-transform: capitalize;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 330px;
    max-width: 450px;
}

.intro h1, .categories, .featured, .selling-points, .subscribe {
    text-align: center;
}

.categories, .featured, .subscribe-form {
    display: flex;
}

.categories, .featured {
    flex-direction: column;
    margin: 50px 20px;
    max-width: 800px;
}

.categories__item {
    padding: 20px 50px;
}

.categories__item h2 {
    margin: 10px 0px 0px;
    text-transform: uppercase;
}

.categories-image {
    border-radius: 10px;
}
   
.categories-image:hover {
    box-shadow: 0px 0px 10px var(--text-color-dark);
}    

.selling-points {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/michael_joey-mountains.jpg);
    background-size: cover;
    background-position: right;
    min-height: 50vh;
    color: var(--text-color-light);
    position: relative;
}

.selling-points-wrapper {
    position: absolute;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
    width: 330px;
}

.selling-points__action {
    margin-top: 70px;
}

.categories, .featured > * {
    flex: 1;
}

.featured__item {
    border-radius: 8px;
    box-shadow: 0px 0px 20px var(--text-color-dark);
    padding: 20px;
    margin: 50px;
}

.featured h2 {
    flex: 1 0 100%;
    margin: 0px;
}

.featured__item p {
    font-family: var(--text-heading);
    font-weight: bold;  
    text-transform: uppercase;
}

.subscribe {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/subscribe.jpg);
    background-size: cover;
    background-position: center;
    min-height: 30vh;
    color: var(--text-color-light);
    padding: 50px 20px;
}

.subscribe h2 {
    margin: 30px 0px 80px;
}

.subscribe-form {
    justify-content: center;
    gap: 10px;
}

#email {
    opacity: 0.8;
}

#email:focus-visible {
    opacity: 1;
}