/* HOME PAGE */

.intro {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/intro.jpg); /* reference: https://css-tricks.com/tinted-images-multiple-backgrounds/ */
    min-height: 50vh;
    background-size: cover;
    background-position: center top;
    align-items: center;
    justify-content: center;
}

.intro h1 {
    color: var(--text-color-light);
    text-transform: capitalize;
}

.intro h1, .categories, .featured, .selling-points, .subscribe {
    text-align: center;
}

.categories {
    padding-block: 100px;
    gap: 100px;
}

.categories__item {
    gap: 10px;
}

.categories > *, .featured > * {
    flex: 1;
}

.categories-image {
    border-radius: 10px;
}
   
.categories-image:hover {
    box-shadow: 0px 0px 10px var(--text-color-dark);
}    

.selling-points {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/michael_joey-mountains.jpg);
    background-size: cover;
    background-position: right;
    min-height: 50vh;
    color: var(--text-color-light);
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.selling-points-wrapper {
    /* width: 330px; */
    gap: 20px;
}

.featured {
    padding-block: 100px;
    gap: 50px;
}

.featured__item {
    border-radius: 8px;
    padding: 50px;
    gap: 20px;
}

.featured h2 {
    flex: 1 0 100%;
}

.featured__item p {
    font-family: var(--text-heading);
    font-weight: bold;  
    text-transform: uppercase;
}

.subscribe-background {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/subscribe.jpg);
    background-size: cover;
    background-position: center;
    min-height: 30vh;
    color: var(--text-color-light);
    padding-block: 50px;
    justify-content: center;
}

.subscribe h2 {
    font-size: 2rem;
}

.subscribe__wrapper {
    gap: 50px;
}

.subscribe-form {
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.subscribe-form__wrapper {
    gap: 2px;
}

.subscribe-form input {
    min-width: 250px;
}

.subscribe-form button {
    height: 37.5px;
}

.subscribe-error {
    color: #fa0b0b;
    background: #000;
    border-radius: 8px;
    padding: 5px;
    display: none;
}

#email {
    opacity: 0.8;
}

#email:focus-visible {
    opacity: 1;
}