/* PRODUCT PAGE */

.product, .size, .product-image__thumbnails, .size-form, .size-form__select {
    display: flex;
}

.product, .size {
    flex-direction: column;
}

.product, .size-form {
    align-items: center;
    gap: 40px;
}

.product {
    max-width: 1000px;
    margin: 30px 20px 50px;
    flex-wrap: wrap;
}

.product > * {
    flex: 1;
}

.product h1 {
    margin: 0px 0px 40px;
    flex: 1 0 100%;
}

.product h1, .size-form {
    text-align: center;
}

.product p {
    margin-top: 0px;
}

.product-image__thumbnails {
    margin-top: 10px;
    gap: 10px;
    cursor: zoom-in;
}

.product-image, .product-details {
    padding: 0px 40px;
}

.product-details__price {
    font-weight: bold;
    font-size: 1.2em;
}

.product-thumbnail {
    border: 2px solid var(--background-color);
}

.product-thumbnail:hover {
    border: 2px solid var(--text-color-dark);
}

fieldset {
    border: none;
    padding: 0px;
    margin: 0px;
}