/* PRODUCT PAGE */

.product {
    max-width: 1000px;
    margin: 30px 20px 50px;
    flex-wrap: wrap;
    max-width: 1000px;
    align-items: center;
}

.product h1 {
    text-align: center;
    font-size: 3em;
    margin-top: 0px;
    flex: 1 0 100%;
}

.product,
.size {
    display: flex;
    flex-direction: column;
}

.product > * {
    flex: 1;
}

.size-form > * {
    flex: 1;
}

.product-image__thumbnails {
    display: flex;
    margin-top: 10px;
    gap: 5px;
}

.product-details__price {
    font-weight: bold;
    font-size: 1.2em;
}

.size-form {
    display: flex;
    text-align: center;
    align-items: center;
}

.size-form__select {
    display: flex;
}

.product-thumbnail {
    border: 0.5px solid var(--text-color-dark);
}
