/* PRODUCT PAGE */

.product, .product-images__wrapper, .size-form {
    align-items: center;
}

.product, .size-form {
    gap: 40px;
}

.product {
    justify-content: center;
}

.product__wrapper {
    gap: 50px;
}

.product-images__wrapper, .product-details {
    gap: 20px;
}

.product-image {
    transition: all 0.3s;
}

.product-thumbnails__image {
    height: 50px;
    width: 40px;
    padding: 2px;
    border: 2px solid var(--clr-dark);
    transition: transform 0.25s;
}

.product-thumbnails:hover img {
    border: 2px solid var(--form-background-color);
    opacity: 0.5;
}

.product-thumbnails img:hover {
    border: 2px solid var(--clr-dark);
    opacity: 1;
    transform: scale(1.5);
}

.product-thumbnails, .size-form, .size-form__select{
    flex-direction: row;
}

.product-thumbnails {
    margin-top: 10px;
    cursor: zoom-in;
}

.product-thumbnails, .size-form__select {
    gap: 10px;
}

#size-form {
    text-align: center;
}

.price {
    font-weight: bold;
    font-size: 1.2em;
}

fieldset {
    border: none;
}

.size-form-validation .error, .size-form-validation .success {
    border: none;
    padding: 0px;
    text-align: left;
}

