@import "../css/import/variables.css";
@import "../css/import/links.css";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: var(--clr-background);
    font-family: var(--text-paragraph);
    color: var(--clr-dark);
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

h1, h2, h3 {
    font-family: var(--text-heading);
}

h1 {
    font-size: 3em;
}

h2, iconify-icon {
    font-size: 2em;
}

img {
    width: 100%;
}

iconify-icon {
    color: var(--clr-dark);
}

.icon__back {
    margin: 30px 30px 0px;
}

header, footer {
    background: var(--clr-background);
    color: var(--clr-dark);
}

header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    position: sticky;
    top: 0px;
    z-index: 1000;
}

header img {
    width: 150px;
 }

 .header-checkout {
    display: flex;
    justify-content: center;
}

.shoppingcart-icon {
    justify-self: right;
    position: relative;
}

.shoppingcart-icon iconify-icon:hover {
    color: #A0CCD7;
}

.circle {
    display: none;
    background-color: #ef0404;
    border-radius: 50px;
    width: 12px;
    height: 12px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.display-nav {
    display: block;
}

nav ul {
    padding: 0px;
}

nav li {
    font-weight: bold;
    font-size: 1.2em;
    display: block;
    padding: 20px;
}

nav {
    top: 115px;
    left: 0px;
    padding: 0px 10px;
    z-index: 1000;
    position: absolute;
    display: none;
    border-radius: 0px 0px 15px 0px;
    background: var(--clr-background);
}

footer ul {
    text-align: center;
    padding: 20px 0px 10px;
}

footer li {
    font-size: 0.8em;
    display: inline-block;
    font-weight: bold;
    padding: 0px 20px;
}

footer p {
    text-align: center;
    font-size: 0.9em;
    font-family: var(--text-paragraph);
    padding-block: 10px;
}

input {
    background: var(--clr-background);
    border: 1px solid var(--clr-dark);
    border-radius: 8px;
    padding: 10px;
    color: var(--clr-dark);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -box-sizing: border-box;
    width: 100%;
}

input:hover {
    box-shadow: 0px 0px 5px var(--clr-dark);
}

input:focus-visible {
    outline: none;
    box-shadow: 0px 0px 5px var(--clr-dark);
    background: #fff;
}

.visually-hidden {
    border-width: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* Firefox */
input[type=number] {
    -moz-appearance:textfield; 
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
    width: min(100% - 100px, 800px);
    margin-inline: auto;
}

.flex, .split {
    display: flex;
    flex-direction: column;
}

.error {
    color: var(--clr-error);
    border: 2px solid var(--clr-error);
}

.error, .success {
    padding: 40px;
    text-align: center;
    width: min(100% - 50px, 600px);
    font-size: 1.2rem;
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 50px;
}
